<p>Here are all the places you've been:</p>

<ul>
  <% @places.each() do |place| %>
    <li><%= place.name_of_places() %></li>
  <% end %>
</ul>

<form action="/display" method="post">
  <label for="place">Add a place you've been:</label>
  <input id="place" name="place" type="text">

  <button type="submit" class="btn">Add Place</button>
 </form>
